<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MultiTableJoin.Properties.Settings.db_TestConnectionString"
            connectionString="Data Source=XIAOKE;Initial Catalog=db_Test;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>